html {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #f0f4f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

#root {
  display: flex;
  margin: 60px 40px;
  flex: 1;
  flex-flow: column wrap;
  background-color: #ffffff;
}

header {
  display: flex;
  flex-flow: column nowrap;
}

header > section {
  border: 0 solid #e5e5e5;
  border-bottom-width: 1px;
}

.top-header {
  height: 128px;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 53px;
  width: 166px;
  font-family: "Lucida Grande";
  font-weight: bold;
  font-size: 39px;
  color: #41bf15;
  text-transform: uppercase;
  line-height: 39px;
  text-align: left;
}

.toolbar {
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
}

.toolbar > li {
  margin: 0 0 0 20px;
}

.toolbar-button {
  background: transparent no-repeat;
  border: none;
  color: #ababab;
  font-size: 40px;
}

.filter {
  height: 161px;
  margin: 0 29px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.filter-parameters {
  height: 140px;
  /*width: 1000px;*/
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  text-transform: capitalize;
  font-size: 26px;
  font-family: HelveticaNeueW01-55Roman;
  color: #59737c;
}

.filter-parameters label {
  margin: 5px 10px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.filter-parameters input {
  height: 55px;
  width: 332px;
  margin-left: 30px;
  border-radius: 10px;
  background-color: #ffffff;
  border: solid 1px #e0e0e0;
}

.filter > button {
  width: 120px;
  height: 111px;
  background-color: #41bf15;
  border: solid 1px #247906;
  border-radius: 50%;
  font-family: HelveticaNeueW01-75;
  font-size: 30px;
  font-weight: bold;
  text-transform: capitalize;
  color: #ffffff;
}

main {
  padding: 0;
}

.stocks-list {
  display: flex;
  flex-flow: column nowrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.stock {
  height: 118px;
  padding: 0 30px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  border: 0 solid #e5e5e5;
  border-bottom-width: 1px;
}

.stock-text {
  width: 465px;
  height: 45px;
  font-family: Avenir;
  font-size: 33px;
  font-weight: 300;
  text-align: left;
  color: #59737c;
}

.stock-stats {
  width: 300px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}

.stock-last-price {
  height: 35px;
  width: 99px;
  font-family: HelveticaNeueW01-55Roman;
  font-size: 30px;
  color: #59737c;
}

.stock-change-display {
  height: 56px;
  width: 150px;
  border-radius: 10px;
  margin: 0;
  padding: 0;
  border: none;
  font-size: 34px;
  font-family: Avenir;
  font-weight: 300;
  color: #ffffff;
}

.stock-arrows {
  height: 38px;
  width: 48px;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.icon-arrow {
  padding: 0;
  background: transparent no-repeat;
  border: none;
  display: block;
  color: #ababab;
  font-size: 20px;
}

.icon-arrow.down {
  transform: scaleY(-1);
}

.icon-arrow:disabled {
  color: rgba(171, 171, 171, 0.2);
}

.positive-change{
  background-color: #63da39;
}
.negative-change{
  background-color: #ff4f46;
}
